services:
  frontend-app:
    build:
      context: .
      dockerfile: compliance-web/Dockerfile
    container_name: frontend-app
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - frontend-network

networks:
  frontend-network:
    driver: bridge
