services:
  frontend-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - API_URL=http://backend-api:8080/api
    container_name: frontend-app
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - API_URL=http://backend-api:8080/api
    networks:
      - frontend-network

networks:
  frontend-network:
    driver: bridge
